.home{
    background-color: white; /* #FBE9E8 */
  }

.text-color{
    color: white;
}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.justify-evenly{
    justify-content: space-evenly;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}
.p-3{
    padding: 12px;
}
.p-5{
    padding: 20px;
}
.rounded{
    border-radius: 8px;
}

.text-bold{
  font-weight: bold;
}
.text-center{
    text-align: center;
}
.bg-orange-50{
    background-color: #518FEB;
}
.max-w-sm{
    max-width: 400px;
}
.m-auto{
    margin: 1px auto;
}
.block{
    display: block;
}
.my-4{
    margin-top: 20px;
    margin-bottom: 20px;
}
.w-full{
  width: 100%;
}
.h-full{
    height: 100%;
}
.min-h-full{
    min-height: 100vh;
}
.text-xs{
    font-size: 0.7rem;
}

.my-6{
    position: relative;
    top:100px;
}


.slate-50{
    background-color:#075985;
}
.text-white{
    color: white;
}
.text-upper{
    text-transform: capitalize;
}
.cursor-pointer{
    cursor: pointer;
}
.hidden{
    display: none;
}


.nav-item:hover{
    background-color: #38bdf8;
}
@media screen and (max-width:680px) {
    .ham{

        display: flex;
        max-width: fit-content; 
       
    }
    .desk-nav{
        display: none;
    }
}
@media screen and  (min-width:681px) {
    .ham{

        display: none;
    }
}